# Cowrie instance 3 — alternate persona (developer workstation)
[ssh]
listen_port = 2222
listen_addr = 0.0.0.0

[auth]
userdb = /cowrie/shared/userdb3.txt

[honeypot]
contents_path = /cowrie/shared/contents3

[output_jsonlog]
enabled = true
logfile = /app/honeypot_logs/cowrie3.json
